
/*img.category-active-img {*/
    /*height: 116px;*/
/*}*/

/*.custom-style-header {*/

    /*!*! background: #fff; *!*/

    /*!*! position: fixed; *!*/

    /*!*! width: 100%; *!*/

    /*!*! z-index: 999; *!*/

    /*!*! border-bottom: 3px solid #054a23; *!*/

    /*background: #ffff;*/

/*}*/

/*.custom-style-enmu {*/

    /*background: #054a23;*/

    /*!*! padding-top: 57px; *!*/

    /*border-bottom: 1px solid #076c334d;*/

    /*!* box-shadow: 0px 0px 7px 0px #acc4c6; *!*/

/*}*/

/*.common_selector.orderByPrice.form-inline-style {*/

    /*border: 2px solid #054a23;*/

    /*padding: 6px;*/

    /*border-radius: 4px !important;*/

/*}*/

/*.form-control.sortby.onChangeProductFilter.form-inline-style.orderByPrice {border: 1px solid #e1cee2;background: #630767;border-radius: 4px !important;color: #fff;}*/

/*.custom-panel-heading {padding: 7px 5px 10px 30px;font-size: 20px;background: #630767;color: #fff;!* border-radius: 10px; *!}*/

/*.tab-style-custom {*/

    /*background: #1c1b1b;*/

    /*padding: 14px 32px;*/

    /*border: 1px solid #040404;*/

    /*font-weight: 600;*/

    /*font-size: 13px;*/

    /*text-transform: uppercase;*/

    /*margin-right: 8px;*/

/*}*/


/*.add-space-one img {*/

    /*width: 100%;*/

    /*height: 423px;*/

    /*border: 1px solid #ededed;*/

    /*padding: 4px;*/

    /*background: #fff;*/

/*}*/

/*.add-space-top1 {*/

    /*padding-left: 0;*/

/*}*/

/*.pagination > li {*/

    /*display: inline;*/

/*}*/

/*.pagination {*/

    /*width: 100%;*/

    /*float: right;*/

    /*position: relative;*/

    /*!*top: -22px;*!*/

    /*margin-left: 20px;*/

/*}*/

/*.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {*/

    /*z-index: 2;*/

    /*color: #fff;*/

    /*cursor: default;*/

    /*background-color: #337ab7;*/

    /*border-color: #337ab7;*/

/*}*/

/*span.pro-close.removeToCart {*/

    /*cursor: pointer;*/

/*}*/

/*.product-detail-area .detail-area .carousel .carousel-control-prev {*/

    /*left: -46px;*/

/*}*/

/*.product-detail-area .detail-area .carousel .carousel-control-next {*/

    /*right: -46px;*/

/*}*/

/*.pagination > li > a, .pagination > li > span {*/

    /*position: relative;*/

    /*float: left;*/

    /*padding: 6px 12px;*/

    /*margin-left: -1px;*/

    /*line-height: 1.42857143;*/

    /*color: #337ab7;*/

    /*text-decoration: none;*/

    /*background-color: #fff;*/

    /*border: 1px solid #ddd;*/

/*}*/

/*.owl-carousel .owl-nav .owl-prev {float: left;position: absolute;top: 40%;background: #e2e1e1;!* border: 1px solid #ededed; *!padding: 12px 12px;font-size: 22px;!* border-radius: 0px 5px 5px 0px; *!left: -7px;!* width: 30px; *!}*/

/*.owl-carousel .owl-prev:hover {box-shadow: 0px 0px 3px 0px #aeaeae;background: #630767;color: #fff;}*/

/*.owl-carousel .owl-nav .owl-next {float: right;position: absolute;top: 40%;background: #e2e1e1;!* border: 1px solid #ededed; *!padding: 12px 12px;font-size: 22px;!* border-radius: 10px 0px 0px 10px; *!right: -7px;}*/

/*.owl-carousel .owl-next:hover {box-shadow: 0px 0px 3px 0px #aeaeae;background: #630767;color: #fff;}*/


/*.custom-panel-style {background: #f9f9f9;}*/

/*.custom-title {*/

    /*font-size: 14px;*/

    /*font-weight: 400;*/

/*}*/

/*.custom-new {*/

    /*width: 60px !important;*/

    /*position: absolute;*/

    /*top: 12px;*/

    /*left: 3px;*/

/*}*/

/*.custom-descount-img {*/

    /*width: 60px !important;*/

    /*position: absolute;*/

    /*top: 3px;*/

    /*right: 3px;*/

/*}*/

/*.custom-off-amount {*/

    /*position: absolute;*/

    /*top: 0px;*/

    /*right: 1px;*/

    /*font-weight: 600;*/

    /*font-size: 12px;*/

    /*color: #191a19;*/

    /*background: #ffcf00;*/

    /*padding: 11px 7px;*/

    /*height: 40px;*/

    /*width: 40px;*/

    /*border-radius: 40px;*/

    /*letter-spacing: 1px;*/

    /*text-align: center;*/

/*}*/


/*.custom-heart-extra {*/

    /*!* font-size: 28px; *!*/

    /*!* padding-right: 10px; *!*/

/*}*/

/*:root {*/

    /*--white: #fff;*/

    /*--main-color1: green;*/

/*}*/

/*.product-grid {!* border: 1px solid #e8e8e85c; *!padding: 10px;margin: 10px 0 0 0;height: 350px;background: #fff;border-radius: 0.25rem;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}*/

/*.product-grid .product-image {*/

    /*position: relative;*/

    /*text-align: center;*/

    /*background: white;*/

/*}*/

/*.product-grid .product-image a {*/
    /*display: block;*/
/*}*/

/*.product-grid .product-image a.image:before {*/

    /*content: "";*/

    /*!*background: rgba(0,0,0,0.2);*!*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*!*opacity: 0;*!*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*z-index: 1;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/


/*.product-grid .product-image:hover a.image:before {*/
    /*opacity: 1;*/
/*}*/

/*.product-grid .product-image img {*/

    /*!*! width: 100%; *!*/
    /*!**/

       /*height: auto;*!*/

/*}*/

/*.product-image .pic-1 {*/

    /*backface-visibility: hidden;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid .product-image:hover .pic-1 {*/
    /*opacity: 0;*/
/*}*/

/*.product-image .pic-2 {*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*opacity: 0;*/

    /*backface-visibility: hidden;*/

    /*transform: scale(0.9);*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid .product-image:hover .pic-2 {*/

    /*opacity: 1;*/

    /*transform: scale(1);*/

/*}*/

/*.product-grid .product-quick-view {*/

    /*color: #555;*/

    /*!*background: var(--white);*!*/

    /*text-align: center;*/

    /*line-height: 40px;*/

    /*width: 40px;*/

    /*height: 40px;*/

    /*border-radius: 50%;*/

    /*opacity: 0;*/

    /*transform: translateX(-50%) translateY(-50%) scale(0) rotate(720deg);*/

    /*position: absolute;*/

    /*top: 50%;*/

    /*left: 50%;*/

    /*z-index: 3;*/

    /*transition: all 0.6s ease-out 0s;*/

/*}*/

/*.product-grid .product-image:hover .product-quick-view {*/

    /*opacity: 1;*/

    /*transform: translateX(-50%) translateY(-50%) scale(1) rotate(0);*/

/*}*/

/*.product-grid .product-image .product-quick-view:hover {*/
    /*color: var(--main-color1);*/
/*}*/

/*.product-image .product-sale-label {*/

    /*color: var(--white);*/

    /*background: var(--main-color1);*/

    /*font-size: 13px;*/

    /*font-weight: 500;*/

    /*width: 40px;*/

    /*height: 40px;*/

    /*line-height: 40px;*/

    /*border-radius: 50px;*/

    /*text-align: center;*/

    /*position: absolute;*/

    /*top: 15px;*/

    /*right: 15px;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid .product-image:hover .product-sale-label {*/
    /*transform: scale(0);*/
/*}*/

/*.product-grid .product-content {*/

    /*padding: 0px 0;*/

    /*position: relative;*/

    /*background: white;*/

/*}*/


/*span.fa.fa-heart-o.is_liked {*/

    /*float: right;*/

    /*padding-right: 20px;*/

/*}*/

/*.product-grid .title {*/

    /*font-size: 13px;*/

    /*!*! font-weight: 400; *!*/

    /*text-transform: capitalize;*/

    /*margin: auto;*/

    /*display: block;*/

    /*text-align: center;*/

    /*height: 51px;*/

    /*letter-spacing: .4px;*/

    /*margin-top: 10px;*/

/*}*/

/*.product-grid .title a {*/
    /*color: #222;*/
/*}*/

/*.product-grid .title a:hover {*/
    /*color: var(--main-color1);*/
/*}*/

/*.product-grid .product-category {*/

    /*font-size: 11px;*/

    /*padding: 0 0 8px;*/

    /*margin: 0px 0 12px;*/

    /*border-bottom: 1px solid #e5e5e5;*/

    /*display: block;*/

    /*text-align: center;*/

/*}*/

/*.product-grid .product-category a {*/
    /*color: #999;*/
/*}*/

/*.product-grid .product-category a:hover {*/

    /*color: var(--main-color1);*/

    /*font-style: italic;*/

/*}*/

/*.product-grid .add-to-cart {*/

    /*color: var(--main-color1);*/

    /*background-color: var(--white);*/

    /*height: 30px;*/

    /*width: 30px;*/

    /*line-height: 30px;*/

    /*text-align: center;*/

    /*display: inline-block;*/

    /*border: 1px solid var(--main-color1);*/

    /*position: relative;*/

    /*z-index: 1;*/


    /*transition: all 0.3s ease 0s;*/

/*}*/

/*.product-grid .add-to-cart:before,*/
/*.product-grid .add-to-cart:after {*/

    /*content: 'Add to Cart';*/

    /*color: var(--white);*/

    /*background-color: var(--main-color1);*/

    /*padding: 0 12px;*/

    /*opacity: 0;*/

    /*white-space: nowrap;*/

    /*position: absolute;*/

    /*right: 0;*/

    /*top: -1px;*/

    /*z-index: -2;*/

    /*transition: all 0.3s ease 0s;*/

/*}*/


/*.product-grid .add-to-cart:after {*/

    /*content: '';*/

    /*background-color: var(--white);*/

    /*height: 100%;*/

    /*width: 100%;*/

    /*opacity: 1;*/

    /*top: 0;*/

/*}*/

/*.product-grid .product-content:hover .add-to-cart:before {*/

    /*opacity: 1;*/

    /*right: -320%;*/

/*}*/

/*.product-grid .add-to-cart:after {*/

    /*content: '';*/

    /*background-color: var(--white);*/

    /*height: 100%;*/

    /*width: 100%;*/

    /*opacity: 1;*/

    /*top: 0;*/

/*}*/

/*.product-grid .product-content:hover .add-to-cart:before {*/

    /*opacity: 1;*/

    /*right: -320%;*/

/*}*/

/*.product-grid .price {*/
    /*text-align: center;*/
    /*margin: 5px auto;*/
    /*font-weight: 600;*/
    /*letter-spacing: .6px;*/
    /*float: right;*/
    /*font-size: 16px;*/
    /*!* margin: auto; *!*/
    /*color: #f97a00f7;*/
    /*width: 100%;*/
/*}*/

/*.product-content .price span {*/

    /*color: #999;*/

    /*font-size: 14px;*/

    /*font-weight: 500;*/

    /*text-decoration: line-through;*/

    /*margin-right: 5px;*/

/*}*/

/*!*.product-grid .product-content:hover .price{ opacity: 0; }*!*/

/*.product-grid .social {*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    /*text-align: center;*/
    /*!* background: #ededed82; *!*/
    /*font-weight: 600;*/
    /*!* text-shadow: 2px 1px 1px #111; *!*/
    /*border-radius: 3px;*/
    /*!* color: #000; *!*/
/*}*/

/*.product-grid .product-content:hover .social {*/

    /*opacity: 1;*/

    /*right: 0;*/

/*}*/

/*.comparedescription-custom {*/

    /*min-height: 150px !important;*/

/*}*/

/*.product-grid .social li {*/
    /*display: inline-block;*/
    /*float: right;*/
    /*width: 89%;*/
    /*margin-top: 8px;*/
/*}*/
/*.input-group .quantity-field {*/
    /*border-radius: 0px;*/
    /*position: relative;*/
    /*height: 33px!important;*/
    /*left: 0px!important;*/
    /*text-align: center;*/
    /*width: 85px!important;*/
    /*display: inline-block;*/
    /*font-size: 13px;*/
    /*margin: 0px!important;*/
    /*resize: vertical;*/
/*}*/
/*.product-grid .social li a {*/

    /*!*! color: #999; *!*/

    /*!*! font-size: 20px; *!*/

    /*!*! margin: 0 3px; *!*/

    /*!*! display: block; *!*/

    /*!*! transition: all 0.3s ease 0s; *!*/

    /*color: #185c01;*/

/*}*/
/*.input-group input[type='button'] {*/
    /*background-color: #630767!important;*/
    /*color: #fff!important;*/
    /*min-width: 30px;*/
    /*height: 33px!important;*/
    /*!*width: auto;*!*/
    /*font-size:20px;*/
    /*border:0px!important;*/
    /*transition: all 300ms ease;*/
/*}*/
/*.product-grid .social li a:hover {*/

    /*!*! color: var(--main-color1); *!*/

    /*!*! transform: scale(1.2); *!*/

    /*color: #181515;*/

    /*text-decoration: none;*/

    /*text-shadow: 0px 0px 1px #a29090;*/

/*}*/

/*@media only screen and (max-width: 990px) {*/

    /*.product-grid {*/
        /*margin-bottom: 30px;*/
    /*}*/

/*}*/
/*@media only screen and (min-width: 240px) and (max-width: 480px) {*/
    /*.align-items-center h4{*/
        /*display:none;*/
    /*}*/
    /*.align-items-center p{*/
        /*display:none;*/
    /*}*/
    /*.carousel-inner {*/
        /*height: 150px !important;*/
    /*}*/
    /*.align-items-center img{*/
        /*height:auto;*/
        /*width:100%;*/
    /*}*/
/*}*/

/*.product-grid .add-to-cart-active {*/

    /*color: var(--main-color1);*/

    /*background-color: var(--white);*/

    /*height: 30px;*/

    /*width: 30px;*/

    /*line-height: 30px;*/

    /*text-align: center;*/

    /*display: inline-block;*/

    /*border: 1px solid var(--main-color1);*/

    /*position: relative;*/

    /*z-index: 1;*/


    /*transition: all 0.3s ease 0s;*/

/*}*/

/*.product-grid .add-to-cart-active::before, .product-grid .add-to-cart-active::after {*/

    /*content: 'Added';*/

    /*color: var(--white);*/

    /*background-color: #F0CA4D;*/

    /*padding: 0 12px;*/

    /*opacity: 0;*/

    /*white-space: nowrap;*/

    /*position: absolute;*/

    /*right: 0;*/

    /*top: -1px;*/

    /*z-index: -2;*/

    /*transition: all 0.3s ease 0s;*/

/*}*/

/*.product-grid .add-to-cart-active:after {*/

    /*content: '';*/

    /*background-color: var(--white);*/

    /*height: 100%;*/

    /*width: 100%;*/

    /*opacity: 1;*/

    /*top: 0;*/

/*}*/

/*.product-grid .product-content:hover .add-to-cart-active:before {*/

    /*opacity: 1;*/

    /*right: -320%;*/

/*}*/

/*.product-grid .add-to-cart-active:after {*/

    /*content: '';*/

    /*background-color: var(--white);*/

    /*height: 100%;*/

    /*width: 100%;*/

    /*opacity: 1;*/

    /*top: 0;*/

/*}*/

/*.product-grid .product-content:hover .add-to-cart-active:before {*/

    /*opacity: 1;*/

    /*right: -320%;*/

/*}*/

/*!*brand style css*!*/

/*.box {*/

    /*text-align: center;*/

    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);*/

    /*overflow: hidden;*/

    /*perspective: 300px;*/

    /*position: relative;*/

/*}*/

/*.box:before {*/

    /*content: "";*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*background: rgba(0, 0, 0, 0.5);*/

    /*position: absolute;*/

    /*top: -100%;*/

    /*left: 0;*/

    /*z-index: 1;*/

    /*transition: all 0.3s ease 0s;*/

    /*box-shadow: 3px 1px 5px 3px #175111;*/


/*}*/

/*.box:hover:before {*/
    /*top: 0;*/
/*}*/

/*.box img {*/

    /*width: 100%;*/

    /*height: auto;*/

    /*transform: scale(1.1);*/

    /*transition: all 0.3s ease 0s;*/

/*}*/

/*.box:hover img {*/
    /*transform: scale(1);*/
/*}*/

/*.box .box-content {*/

    /*width: 100%;*/

    /*background: #fff;*/

    /*position: absolute;*/

    /*bottom: -1px;*/

    /*left: 50%;*/

    /*opacity: 0;*/

    /*z-index: 1;*/

    /*transform: translateX(-50%) rotateX(90deg);*/

    /*transform-origin: bottom;*/

    /*transition: all 0.4s ease 0s;*/

/*}*/

/*.box:hover .box-content {*/

    /*opacity: 1;*/

    /*transform: translateX(-50%) rotateX(0deg);*/

/*}*/

/*.box .title {*/

    /*font-size: 17px;*/

    /*color: #14330b;*/

    /*letter-spacing: 1px;*/

    /*margin: 15px 0 15px 0;*/

/*}*/

/*.box .post {*/

    /*display: inline-block;*/

    /*font-size: 16px;*/

    /*font-style: italic;*/

    /*color: #606060;*/

    /*margin: 0 0 10px 0;*/

/*}*/


/*@media only screen and (max-width: 990px) {*/

    /*.box {*/
        /*margin-bottom: 30px;*/
    /*}*/

/*}*/


/*!*Organic Food*!*/

/*.box-organioc {*/

    /*text-align: center;*/

    /*overflow: hidden;*/

    /*perspective: 300px;*/

    /*position: relative;*/

    /*border: 1px solid #ededed99;*/

    /*border-radius: 3px;*/

/*}*/

/*.box-organioc:hover:before {*/
    /*top: 0;*/
/*}*/

/*.box-organioc img {*/

    /*width: 100%;*/

    /*height: auto;*/

    /*transform: scale(1.1);*/

    /*transition: all 0.3s ease 0s;*/

/*}*/

/*!*.box-organioc:before{*!*/

/*!*content: "";*!*/

/*!*width: 100%;*!*/

/*!*height: 100%;*!*/

/*!*background: rgba(0,0,0,0.5);*!*/

/*!*position: absolute;*!*/

/*!*top: -100%;*!*/

/*!*left: 0;*!*/

/*!*z-index: 1;*!*/

/*!*transition: all 0.3s ease 0s;*!*/

/*!*box-shadow: 0px 0px 199px 3px #20a80c8a;*!*/


/*!*}*!*/

/*.box-organioc:hover img {*/
    /*transform: scale(1);*/
/*}*/

/*.box-organioc .box-content {*/

    /*width: 100%;*/

    /*background: #fff;*/

    /*position: absolute;*/

    /*bottom: -1px;*/

    /*left: 50%;*/

    /*opacity: 0;*/

    /*z-index: 1;*/

    /*transform: translateX(-50%) rotateX(90deg);*/

    /*transform-origin: bottom;*/

    /*transition: all 0.4s ease 0s;*/

/*}*/

/*.box-organioc:hover .box-content {*/

    /*opacity: 1;*/

    /*transform: translateX(-50%) rotateX(0deg);*/

/*}*/


/*.product-grid-item.product-image {*/

    /*perspective: 1500px;*/

    /*overflow: hidden;*/

    /*position: relative;*/

/*}*/

/*.product-grid-item .product-image a.image {*/
    /*display: block;*/
/*}*/

/*.product-grid-item .product-image a.image:before {*/

    /*content: "";*/

    /*!*background: rgba(0,0,0,0.2);*!*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*opacity: 0;*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*z-index: 1;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .product-image:hover a.image:before {*/
    /*opacity: 1;*/
/*}*/

/*.product-grid-item .product-image img {*/

    /*width: 100%;*/

    /*height: auto;*/

/*}*/

/*.product-image .pic-1 {*/

    /*backface-visibility: hidden;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .product-image:hover .pic-1 {*/

    /*opacity: 0;*/

    /*transform: rotateY(-90deg);*/

/*}*/

/*.product-image .pic-2 {*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*opacity: 0;*/

    /*backface-visibility: hidden;*/

    /*transform: rotateY(-90deg);*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .product-image:hover .pic-2 {*/

    /*opacity: 1;*/

    /*transform: rotateY(0deg);*/

/*}*/

/*.product-image .product-sale-label {*/

    /*color: var(--white);*/

    /*background: var(--main-color1);*/

    /*font-size: 12px;*/

    /*font-weight: 600;*/

    /*text-transform: uppercase;*/

    /*padding: 0 3px;*/

    /*border: 2px solid var(--white);*/

    /*border-left: none;*/

    /*border-right: none;*/

    /*box-shadow: 0 0 0 3px var(--main-color1);*/

    /*position: absolute;*/

    /*top: 15px;*/

    /*left: 15px;*/

    /*z-index: 1;*/

/*}*/

/*.product-grid-item .product-quick-view {*/

    /*color: var(--white);*/

    /*background: rgba(255, 255, 255, 0.5);*/

    /*font-size: 15px;*/

    /*padding: 8px 10px 8px 20px;*/

    /*opacity: 0;*/

    /*transform: scale(0);*/

    /*position: absolute;*/

    /*bottom: 42px;*/

    /*left: 0;*/

    /*right: 0;*/

    /*z-index: 1;*/

    /*transition: all 0.5s ease-in-out 0s;*/

/*}*/

/*.product-grid-item:hover .product-quick-view {*/

    /*opacity: 1;*/

    /*transform: scale(1);*/

/*}*/

/*.product-grid-item .product-quick-view:hover {*/
    /*background: #ff6348;*/
/*}*/

/*.product-button-group {*/

    /*background: rgb(35, 147, 49);*/

    /*font-size: 15px;*/

    /*padding: 12px 15px 11px 20px;*/

    /*opacity: 0;*/

    /*position: absolute;*/

    /*bottom: 0;*/

    /*left: 0;*/

    /*right: 0;*/

    /*z-index: 1;*/

    /*transition: all 0.5s ease-in-out 0s;*/

/*}*/

/*.product-grid-item:hover .product-button-group {*/
    /*opacity: 1;*/
/*}*/

/*.product-button-group .add-to-cart,*/
/*.product-button-group .product-wishlist,*/
/*.product-button-group .product-compare {*/

    /*color: var(--white);*/

    /*line-height: 20px;*/

    /*display: inline-block;*/

    /*float: left;*/

    /*transition: all 0.3s ease 0s;*/

/*}*/

/*.product-button-group .product-wishlist,*/
/*.product-button-group .product-compare {*/

    /*float: right;*/

    /*margin: 0 0 0 15px;*/

/*}*/

/*.product-button-group .add-to-cart:hover,*/
/*.product-button-group .product-wishlist:hover,*/
/*.product-button-group .product-compare:hover {*/

    /*animation: 1s effect ease-in-out;*/

/*}*/

/*.product-grid-item .product-content {*/
    /*padding: 15px 10px 0;*/
/*}*/

/*.product-grid-item .product-category {*/

    /*font-size: 14px;*/

    /*text-transform: uppercase;*/

    /*margin: 0 0 7px;*/

/*}*/

/*.product-grid-item.product-category a {*/

    /*color: #999;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .product-category a:hover {*/
    /*color: var(--main-color1);*/
/*}*/

/*.product-grid-item .title {*/

    /*margin: 0 0 7px;*/

    /*font-size: 15px;*/

    /*font-weight: 700;*/

    /*text-transform: capitalize;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .title a {*/

    /*color: #333;*/

    /*transition: all 0.5s ease-out 0s;*/

/*}*/

/*.product-grid-item .title a:hover {*/
    /*color: var(--main-color1);*/
/*}*/

/*.product-grid-item .price {*/

    /*color: var(--main-color1);*/

    /*font-size: 15px;*/

    /*font-weight: 600;*/

/*}*/

/*.product-content .price span {*/

    /*color: #b0b0b0;*/

    /*text-decoration: line-through;*/

    /*margin-right: 10px;*/

/*}*/

/*@keyframes effect {*/

    /*16.65% {*/
        /*transform: skew(-12deg);*/
    /*}*/

    /*33.3% {*/
        /*transform: skew(10deg);*/
    /*}*/

    /*49.95% {*/
        /*transform: skew(-6deg);*/
    /*}*/

    /*66.6% {*/
        /*transform: skew(4deg);*/
    /*}*/

    /*83.25% {*/
        /*transform: skew(-2deg);*/
    /*}*/

    /*100% {*/
        /*transform: skew(0);*/
    /*}*/

/*}*/

/*@media only screen and (max-width: 990px) {*/

    /*.product-grid {*/
        /*margin-bottom: 30px;*/
    /*}*/

/*}*/


/*!*//add  animation hanging move*!*/

/*.swing {*/

    /*animation: swing ease-in-out 1s infinite alternate;*/

    /*transform-origin: center -20px;*/

    /*float: left;*/

    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/

/*}*/

/*.swing img {*/

    /*border: 5px solid #f8f8f8;*/

    /*display: block;*/

/*}*/

/*.swing:after {*/

    /*content: '';*/

    /*position: absolute;*/

    /*width: 20px;*/
    /*height: 20px;*/

    /*border: 1px solid #999;*/

    /*top: -10px;*/
    /*left: 50%;*/

    /*z-index: 0;*/

    /*border-bottom: none;*/

    /*border-right: none;*/

    /*transform: rotate(45deg);*/

/*}*/

/*!* nail *!*/

/*.swing::before {*/

    /*content: '';*/

    /*position: absolute;*/

    /*width: 10px;*/

    /*height: 10px;*/

    /*top: -17px;*/

    /*left: 51%;*/

    /*z-index: 5;*/

    /*border-radius: 50% 50%;*/

    /*background: #000;*/

/*}*/


/*@keyframes swing {*/

    /*0% {*/
        /*transform: rotate(3deg);*/
    /*}*/

    /*100% {*/
        /*transform: rotate(-3deg);*/
    /*}*/

/*}*/


/*!*banner adds three*!*/


/*.box-img {*/

    /*text-align: center;*/

    /*overflow: hidden;*/

    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);*/

    /*position: relative;*/

    /*margin-top: 15px;*/

/*}*/

/*.box-img::before, .box-img::after {*/

    /*content: "";*/

    /*width: 100%;*/

    /*height: 100%;*/

    /*background: rgba(27, 122, 182, 0.18);*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*opacity: 0;*/

    /*transition: all 1.15s ease 0s;*/

/*}*/

/*.box-img::after {*/

    /*background: rgba(255, 255, 255, 0.3);*/

    /*!*border: 2px solid #0dab76;*!*/

    /*top: 0;*/

    /*left: 170%;*/

    /*opacity: 1;*/

    /*z-index: 1;*/

    /*transform: skewX(45deg);*/

    /*transition: all 1s ease 0s;*/

/*}*/

/*.box-img:hover:before {*/
    /*opacity: 1;*/
/*}*/

/*.box-img:hover:after {*/
    /*left: -170%;*/
/*}*/

/*.box-img img {*/

    /*width: 100%;*/

    /*height: auto;*/

/*}*/

/*.box-img .box-content {*/

    /*width: 100%;*/

    /*position: absolute;*/

    /*bottom: -100%;*/

    /*left: 0;*/

    /*transition: all 0.5s ease 0s;*/

/*}*/

/*.box-img:hover {*/

    /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.57);*/

/*}*/

/*.row.list-wishlist {*/

    /*margin: 0px;*/

    /*padding: 0;*/

/*}*/

/*.row.list-wishlist li {*/

    /*border: 1px solid #ededed;*/

/*}*/

/*.row.list-wishlist li a i {*/

    /*border: 1px solid red;*/

    /*padding: 4px;*/

    /*font-size: 11px;*/

    /*height: 20px;*/

    /*width: 20px;*/

    /*text-align: center;*/

    /*color: red;*/

/*}*/

/*!*cart button*!*/

/*.cart-ad-custom {*/

    /*!* background: green; *!*/

    /*!* border: 1px solid green; *!*/

    /*!* padding: 8px 8px; *!*/

    /*color: #878787;*/

/*}*/

/*.cart-ad-custom:hover {*/

    /*color: green;*/

/*}*/

/*.add-content-2 {*/

    /*margin-top: 15px;*/

/*}*/

/*.add-content-3 {*/

    /*margin-bottom: 15px;*/

/*}*/

/*.blog-area {*/

    /*background: #fff;*/

    /*padding: 15px;*/

/*}*/

/*.prfile-pic img {*/

    /*height: 40px;*/

    /*width: 40px;*/

    /*border-radius: 50%;*/

    /*padding: 2px;*/

    /*border: 2px solid #b80f16;*/

    /*background: #fff;*/

/*}*/

/*.profile-btn-style {*/

    /*color: #fff !important;*/

    /*background: #054a23;*/

    /*padding: 5px 10px;*/

    /*border-radius: 20px;*/


/*}*/

/*.dropdown-profile-style {*/

    /*top: 5px !important;*/

    /*border: 1px solid #b80f1673;*/

    /*position: absolute;*/

    /*transform: translate3d(-23px, 38px, 10px) !important;*/

    /*right: -3px;*/

    /*will-change: transform;*/

    /*padding: 0;*/

/*}*/

/*.dropdown-profile-style i {*/

    /*position: absolute;*/

    /*top: -13px;*/

    /*right: 10px;*/

    /*font-size: 30px;*/

    /*color: #b80f16;*/

/*}*/

/*.dropdown-profile-style li {*/

    /*width: 100%;*/

    /*border-bottom: 1px solid #ff000021;*/

/*}*/

/*.dropdown-profile-style li:last-child {*/

    /*border-bottom: none;*/

/*}*/

/*.dropdown-profile-style li a:hover {*/

    /*background: #b80f16;*/

    /*color: #fff !important;*/

/*}*/

/*.profile-style {*/

    /*font-size: 17px;*/

    /*padding-right: 5px;*/

    /*color: #93eabe !important;*/

/*}*/

/*.blog-action {*/

    /*padding-right: 30px;*/

    /*font-size: 12px;*/

    /*letter-spacing: 1px;*/

    /*color: green;*/

    /*text-decoration: none !important;*/

/*}*/

/*.blog-title a {*/

    /*color: #035d03 !important;;*/

/*}*/

/*.tab-content-custom {*/

    /*border: 1px solid #ededed;*/

    /*margin-top: 12px;*/

    /*background: #fff;*/

/*}*/

/*.countData {*/

    /*border: 1px solid #ededed;*/

    /*background: #fff;*/

    /*padding: 15px;*/

    /*margin-top: 15px;*/

/*}*/


/*.user-icon-st {*/

    /*border: 1px solid #b0b0b0;*/

    /*padding: 9px;*/

    /*height: 30px;*/

    /*width: 30px;*/

    /*border-radius: 16px;*/

    /*color: green;*/

/*}*/

/*.auth-buttons.header-tile a {*/

    /*background: #25690e;*/

/*}*/


/*#myInput {*/

    /*height: 45px;*/

    /*border-radius: 5px 0px 0px 5px !important;*/

    /*!*! border: 3px solid green; *!*/

/*}*/

/*#basic-text1 {padding: 10px 15px;border-radius: 2px 5px 5px 2px;background: #630767;*/

    /*!*! border: 1px solid green; *!color: #ffffff;font-size: 21px;*/

    /*!*! border-left: 1px wheat; *!border: none;}*/

/*#ViewBasketLink {*/
    /*font-size: 13px;*/
    /*font-weight: 600;*/
    /*margin-left: 19px;*/
    /*line-height: 15px;*/
/*}*/

/*.header-area .header-maxi .top-right-list .cart-header {*/

    /*float: right;*/

    /*padding: 3px 8px;*/

    /*border-radius: 7px;*/

/*}*/

/*#check_out {*/
    /*!* padding: 14px; *!*/
    /*font-size: 16px;*/
    /*font-weight: 600;*/
    /*border-radius: 5px !important;*/
    /*background: #FCB102;*/
    /*border-radius: 0 !important;*/
    /*!* border-radius: 3px; *!*/
/*}*/
/*.search-html {*/

    /*margin-top: 15px;*/

/*}*/

/*.sideber-right {*/

    /*background: #fff;*/

    /*border: 1px solid #ededed;*/

/*}*/

/*.grid__item {*/

    /*list-style: none;*/

    /*border-bottom: 1px dashed #e4e4e4;*/

    /*padding-top: 24px;*/

/*}*/

/*.support_icon {*/

    /*width: 33%;*/

    /*float: left;*/

    /*text-align: center;*/

/*}*/


/*!*slider style*!*/


/*#myCarousel .carousel-item .mask {*/

    /*position: absolute;*/

    /*top: 0;*/

    /*left: 0;*/

    /*height: 100%;*/

    /*width: 100%;*/

    /*background-attachment: fixed;*/

/*}*/

/*#myCarousel h4 {*/

    /*padding-left: 40px;*/

    /*font-size: 44px;*/

    /*margin-bottom: 15px;*/

    /*color: #b90606;*/

    /*line-height: 100%;*/

    /*letter-spacing: 0.5px;*/

    /*font-weight: 400;*/

    /*text-shadow: 2px 2px 3px #272626;*/

/*}*/

/*#myCarousel p {*/

    /*font-size: 18px;*/

    /*margin-bottom: 15px;*/

    /*color: #d5d5d5;*/

    /*padding-left: 45;*/

    /*color: #000000;*/

    /*!*text-shadow: 0px 1px 1px #000;*!*/

/*}*/

/*#myCarousel .carousel-item a {*/

    /*background: #F47735;*/

    /*font-size: 14px;*/

    /*color: #FFF;*/

    /*padding: 13px 32px;*/

    /*display: inline-block;*/

/*}*/

/*#myCarousel .carousel-item a:hover {*/

    /*background: #394fa2;*/

    /*text-decoration: none;*/

/*}*/

/*#myCarousel .carousel-item h4 {*/

    /*-webkit-animation-name: fadeInLeft;*/

    /*animation-name: fadeInLeft;*/

/*}*/

/*#myCarousel .carousel-item p {*/

    /*-webkit-animation-name: slideInRight;*/

    /*animation-name: slideInRight;*/

/*}*/

/*#myCarousel .carousel-item a {*/

    /*-webkit-animation-name: fadeInUp;*/

    /*animation-name: fadeInUp;*/

/*}*/

/*#myCarousel .carousel-item .mask img {*/

    /*-webkit-animation-name: slideInRight;*/

    /*animation-name: slideInRight;*/

    /*display: block;*/

    /*height: auto;*/

    /*max-width: 100%;*/

/*}*/

/*#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img {*/

    /*-webkit-animation-duration: 1s;*/

    /*animation-duration: 1.2s;*/

    /*-webkit-animation-fill-mode: both;*/

    /*animation-fill-mode: both;*/

/*}*/

/*#myCarousel .container {*/

    /*max-width: 1430px;*/

/*}*/

/*#myCarousel .carousel-item {*/

    /*!*height: 100%;*!*/

    /*!*min-height: 550px;*!*/

/*}*/

/*#myCarousel {*/

    /*position: relative;*/

    /*z-index: 1;*/

    /*!*background: url(https://i.imgur.com/6axE29k.jpg) center center no-repeat;*!*/

    /*background-size: cover;*/

/*}*/

/*.carousel-control-next {height: 40px;width: 40px;padding: 12px;top: 50%;bottom: auto;transform: translateY(-50%);background-color: #630767;border-radius: 40px;right: 8px;}*/

/*.carousel-control-prev {height: 40px;width: 40px;padding: 12px;top: 50%;bottom: auto;transform: translateY(-50%);background-color: #630767;border-radius: 40px;left: 22px;}*/

/*.carousel-item {*/

    /*position: relative;*/

    /*display: none;*/

    /*-webkit-box-align: center;*/

    /*-ms-flex-align: center;*/

    /*align-items: center;*/

    /*width: 100%;*/

    /*transition: -webkit-transform .6s ease;*/

    /*transition: transform .6s ease;*/

    /*transition: transform .6s ease, -webkit-transform .6s ease;*/

    /*-webkit-backface-visibility: hidden;*/

    /*backface-visibility: hidden;*/

    /*-webkit-perspective: 1000px;*/

    /*perspective: 1000px;*/

/*}*/

/*.carousel-fade .carousel-item {*/

    /*opacity: 0;*/

    /*-webkit-transition-duration: .6s;*/

    /*transition-duration: .6s;*/

    /*-webkit-transition-property: opacity;*/

    /*transition-property: opacity*/

/*}*/

/*.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {*/

    /*opacity: 1*/

/*}*/

/*.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {*/

    /*opacity: 0*/

/*}*/

/*.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {*/

    /*-webkit-transform: translateX(0);*/

    /*-ms-transform: translateX(0);*/

    /*transform: translateX(0)*/

/*}*/

/*@supports (transform-style:preserve-3d) {*/

    /*.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0)*/

    /*}*/

/*}*/

/*.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {*/

    /*-webkit-transform: translate3d(0, 0, 0);*/

    /*transform: translate3d(0, 0, 0);*/

/*}*/

/*@-webkit-keyframes fadeInLeft {*/

    /*from {*/

        /*opacity: 0;*/

        /*-webkit-transform: translate3d(-100%, 0, 0);*/

        /*transform: translate3d(-100%, 0, 0);*/

    /*}*/


    /*to {*/

        /*opacity: 1;*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/

/*@keyframes fadeInLeft {*/

    /*from {*/

        /*opacity: 0;*/

        /*-webkit-transform: translate3d(-100%, 0, 0);*/

        /*transform: translate3d(-100%, 0, 0);*/

    /*}*/


    /*to {*/

        /*opacity: 1;*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/

/*.fadeInLeft {*/

    /*-webkit-animation-name: fadeInLeft;*/

    /*animation-name: fadeInLeft;*/

/*}*/

/*@-webkit-keyframes fadeInUp {*/

    /*from {*/

        /*opacity: 0;*/

        /*-webkit-transform: translate3d(0, 100%, 0);*/

        /*transform: translate3d(0, 100%, 0);*/

    /*}*/


    /*to {*/

        /*opacity: 1;*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/

/*@keyframes fadeInUp {*/

    /*from {*/

        /*opacity: 0;*/

        /*-webkit-transform: translate3d(0, 100%, 0);*/

        /*transform: translate3d(0, 100%, 0);*/

    /*}*/

    /*to {*/

        /*opacity: 1;*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/

/*.fadeInUp {*/

    /*-webkit-animation-name: fadeInUp;*/

    /*animation-name: fadeInUp;*/

/*}*/

/*@-webkit-keyframes slideInRight {*/

    /*from {*/

        /*-webkit-transform: translate3d(100%, 0, 0);*/

        /*transform: translate3d(100%, 0, 0);*/

        /*visibility: visible;*/

    /*}*/


    /*to {*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/

/*@keyframes slideInRight {*/

    /*from {*/

        /*-webkit-transform: translate3d(100%, 0, 0);*/

        /*transform: translate3d(100%, 0, 0);*/

        /*visibility: visible;*/

    /*}*/


    /*to {*/

        /*-webkit-transform: translate3d(0, 0, 0);*/

        /*transform: translate3d(0, 0, 0);*/

    /*}*/

/*}*/


/*.slideInRight {*/

    /*-webkit-animation-name: slideInRight;*/

    /*animation-name: slideInRight;*/

/*}*/

/*.popular-brand {*/

    /*background: #fff;*/

    /*margin-top: 15px;*/

/*}*/

/*.client-extra {*/

    /*width: 100%;*/

/*}*/

/*.popularbrand-title {*/

    /*width: 100%;*/

    /*text-align: center;*/

    /*padding: 10px;*/

    /*border-bottom: 2px solid green;*/

    /*margin-top: 10px;*/

/*}*/
/*.client-extra {*/
    /*width: 100%;*/
    /*background: #fff;*/
    /*!* box-shadow: 0px 0px 5px 0px #c7c7ca; *!*/
    /*border-radius: 3px;*/
    /*padding: 5px;*/
    /*border-radius: 0.25rem;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*}*/
/*.box-style {*/
    /*text-align: center;*/
    /*!* box-shadow: 0 0 3px rgba(41, 41, 41, 0.3); *!*/
    /*!* overflow: hidden; *!*/
    /*!* perspective: 300px; *!*/
    /*!* position: relative; *!*/
    /*!* height: 170px; *!*/
    /*!* border-radius: 4px; *!*/
    /*!* border: 1px solid #f7f7f7; *!*/
    /*background: #ffff;*/
    /*margin: 10px;*/
    /*border: 3px solid #fff;*/
    /*border-radius: 10px;*/
    /*border-radius: 0.25rem;*/
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*}*/

/*.box-style img {*/

    /*!*height: 116px;*!*/

/*}*/

/*.title-style {*/

    /*font-size: 14px;*/

    /*margin-top: 9px;*/

    /*text-decoration: none;*/

    /*!*font-weight: 600;*!*/

/*}*/

/*.category-title-style {*/

    /*font-size: 14px;*/

    /*margin-top: 9px;*/

    /*text-decoration: none;*/

    /*!*! font-weight: 600; *!*/

    /*color: #064606;*/

    /*padding: 0 10px;*/

/*}*/


/*.box-style a {*/

    /*text-decoration: none;*/

/*}*/

/*.category-default-img {*/

    /*padding: 34px 16px;*/

/*}*/

/*.category-active-img {*/

    /*padding: 10px;*/

/*}*/

/*.order-2 a {*/

    /*margin-left: 45px;*/

/*}*/

/*.add-content {*/

    /*margin-bottom: 15px;*/

/*}*/

/*.product-grid .title a {*/

    /*text-decoration: none;*/

/*}*/

/*.wait-st-unit {*/

    /*font-size: 12px;*/

    /*font-weight: 400;*/

    /*letter-spacing: .2px;*/

    /*color: #360;*/
    /*width: 35%;*/
    /*float: left;*/

/*}*/

/*.products-add-area {*/

    /*margin-left: 15px;*/

    /*background: #fff;*/

    /*padding: 15px 0px;*/

/*}*/

/*.new-products-area {*/

    /*margin-left: 15px;*/

/*}*/

/*.new-product-ex {*/
    /*margin: 15px 0;*/
    /*padding: 7px;*/
    /*border: 1px solid #fff;*/
    /*border: 1px solid #e8e8e85c;*/
/*}*/

/*.new-product-ex:hover {*/

    /*margin: 15px 0;*/

    /*!*border: 1px solid #d3d3d3;*!*/

    /*border-radius: 3px;*/

    /*!*box-shadow: 0px 0px 4px 0px #b9b9b9;*!*/

/*}*/

/*.product-effect {*/

    /*-webkit-transition: all 0.2s ease-in-out;*/

    /*-moz-transition: all 0.2s ease-in-out;*/

    /*-o-transition: all 0.2s ease-in-out;*/

    /*-ms-transition: all 0.2s ease-in-out;*/

    /*transition: all 0.2s ease-in-out;*/

    /*cursor: pointer;*/

/*}*/

/*.product-effect:hover img {*/

    /*animation-name: swing;*/

    /*animation-duration: 1s;*/

    /*animation-iteration-count: 1;*/

    /*animation-timing-function: ease-out;*/

    /*text-decoration: none;*/

    /*-webkit-animation-name: swing;*/

    /*-webkit-animation-duration: 1s;*/

    /*-webkit-animation-iteration-count: 1;*/

    /*-webkit-animation-timing-function: ease-out;*/

    /*-moz-animation-name: swing;*/

    /*-moz-animation-duration: 1s;*/

    /*-moz-animation-iteration-count: 1;*/

    /*-moz-animation-timing-function: ease-out;*/

/*}*/

/*.breadcrumb ol a {*/

    /*color: #ba1239;*/

/*}*/

/*.filter-product-az {*/

    /*margin-left: 15px;*/

/*}*/

/*.product-list {*/

    /*list-style: none;*/

/*}*/

/*.short-list-style {margin-left: 7px;margin-right: 7px;margin-bottom: 7px;border-radius: 0.25rem;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);border: none;background: #fff;}*/

/*.details-btn-ex {*/

    /*margin-top: -7px;*/

    /*font-size: 15px;*/

    /*font-weight: 600;*/


    /*!*! border-radius: 15px; *!*/
/*}*/

/*.details-btn-ex a:hover {*/

    /*text-decoration: none;*/

/*}*/

/*.attr_and_cart {*/
    /*width: 50%;*/
    /*float: left;*/
/*}*/
/*.row.grid {*/
    /*background: #fff;*/
/*}*/
/*.custom-heart-extra {*/
    /*margin: 0 auto;*/
    /*float: none;*/
/*}*/
/*.custom-heart-extra{*/
    /*position: relative;*/
/*}*/
/*.custom-heart-extra .input-group{*/
    /*!*    position: absolute;*!*/
    /*!*bottom: -40px;*!*/
    /*!*left: 60%;*!*/
    /*!*transform: translate(-50%);*!*/
/*}*/
/*.align-items-center .order-1 img{*/
    /*margin-top:33px;*/
/*}*/
/*.box-style:hover {*/
    /*border: 3px solid #ededed;*/
/*}*/

/*.addToCart{*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
    /*letter-spacing: .5px;*/
/*}*/
/*.pointer {*/
    /*width: 300px;*/
    /*height: 40px;*/
    /*position: relative;*/
    /*background: #630767;*/
    /*text-transform: uppercase;*/
/*}*/
/*.pointer:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 20px solid #f9f9f9;*/
    /*border-top: 20px solid transparent;*/
    /*border-bottom: 20px solid transparent;*/
/*}*/
/*.pointer:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*right: -20px;*/
    /*bottom: 0;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 20px solid #630767;*/
    /*border-top: 20px solid transparent;*/
    /*border-bottom: 20px solid transparent;*/
/*}*/
/*.slider-sec{*/
    /*margin-bottom: 15px;*/
/*}*/
/*.img-shoppage{*/
    /*width: 100%;*/
/*}*/
/*!*product sideber*!*/
/*.sidebar-toggler {*/
    /*padding: 0.25rem 0.75rem;*/
    /*font-size: 1.25rem;*/
    /*line-height: 1;*/
    /*background-color: transparent;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 0.25rem;*/
    /*color: rgba(0, 0, 0, 0.5);*/
    /*border-color: rgba(0, 0, 0, 0.1);*/
/*}*/
/*.sidebar-toggler .sidebar-toggler-icon {*/
    /*display: inline-block;*/
    /*width: 1.5em;*/
    /*height: 1.5em;*/
    /*vertical-align: middle;*/
    /*content: "";*/
    /*background: no-repeat center center;*/
    /*background-size: 100% 100%;*/
    /*background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");*/
    /*cursor: pointer;*/
/*}*/

/*.sidebar {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*z-index: 99;*/
/*}*/
/*.sidebar .sidebar-user .category-content {*/
    /*padding: 1rem;*/
    /*text-align: center;*/
    /*color: #fff;*/
    /*background: url(https://picsum.photos/260/80?image=652&blur) center center no-repeat;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: cover;*/
/*}*/
/*.sidebar .sidebar-user .category-content:first-child {*/
    /*border-bottom-right-radius: 0.25rem;*/
    /*border-bottom-left-radius: 0.25rem;*/
/*}*/
/*.sidebar .sidebar-user .category-content:last-child {*/
    /*border-top-right-radius: 0.25rem;*/
    /*border-top-left-radius: 0.25rem;*/
/*}*/
/*.sidebar .sidebar-content {*/
    /*position: relative;*/
    /*border-radius: 0.25rem;*/
    /*margin-bottom: 1.25rem;*/
/*}*/
/*.sidebar .category-title {*/
    /*position: relative;*/
    /*margin: 0;*/
    /*padding: 12px 20px;*/
    /*padding-right: 46px;*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
/*}*/
/*.sidebar.sidebar-default .category-title {*/
    /*border-bottom-color: #630767;*/
/*}*/
/*.sidebar.sidebar-default .category-title > span {*/
    /*display: block;*/
    /*text-transform: uppercase;*/
    /*font-weight: 500;*/
    /*font-size: 0.75rem;*/
/*}*/
/*.sidebar.sidebar-default .category-content .nav li > a {*/
    /*color: #333;*/
/*}*/
/*.sidebar.sidebar-default .category-content .nav li > a.active, .sidebar.sidebar-default .category-content .nav li > a[aria-expanded="true"], .sidebar.sidebar-default .category-content .nav li > a:hover, .sidebar.sidebar-default .category-content .nav li > a:focus {*/
    /*background-color: #6b206e;*/
    /*color: #fff;*/
/*}*/
/*.sidebar .category-content {*/
    /*position: relative;*/
/*}*/
/*.sidebar .category-content .nav {*/
    /*position: relative;*/
    /*margin: 0;*/
    /*padding: 0.5rem 0;*/
/*}*/
/*.sidebar .category-content .nav li {*/
    /*position: relative;*/
    /*list-style: none;*/
/*}*/
/*.sidebar .category-content .nav li > a {*/
    /*font-size: 0.875rem;*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
    /*transition: background 0.15s linear, color 0.15s linear;*/
/*}*/
/*.sidebar .category-content .nav li > a[data-toggle="collapse"] {*/
    /*padding-right: 2rem;*/
/*}*/
/*.sidebar .category-content .nav li > a[data-toggle="collapse"]:after {*/
    /*position: absolute;*/
    /*top: 0.5rem;*/
    /*right: 1rem;*/
    /*height: 1.5rem;*/
    /*line-height: 1.5rem;*/
    /*display: block;*/
    /*content: "\f105";*/
    /*font-family: FontAwesome;*/
    /*font-size: 1.5rem;*/
    /*font-weight: normal;*/
    /*transform: rotate(0deg);*/
    /*transition: -webkit-transform 0.2s ease-in-out;*/
/*}*/
/*.sidebar .category-content .nav li > a[data-toggle="collapse"][aria-expanded="true"]:after {*/
    /*transform: rotate(90deg);*/
/*}*/
/*.sidebar .category-content .nav li > a > i {*/
    /*float: left;*/
    /*top: 0;*/
    /*margin-top: 2px;*/
    /*margin-right: 15px;*/
    /*transition: opacity 0.2s ease-in-out;*/
/*}*/
/*.sidebar .category-content .nav li ul {*/
    /*padding: 0;*/
/*}*/
/*.sidebar .category-content .nav li ul > li a {*/
    /*padding-left: 2.75rem;*/
/*}*/
/*.sidebar .category-content .nav > li > a {*/
    /*font-weight: 500;*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.sidebar {*/
        /*!*padding-top: 2rem !important;*!*/
        /*!*display: table-cell;*!*/
        /*!*vertical-align: top;*!*/
        /*!*width: 280px;*!*/
        /*!*padding: 0 1.25rem;*!*/
    /*}*/
    /*.sidebar.sidebar-fixed {*/
        /*!*position: sticky;*!*/
        /*!*top: 5.5rem;*!*/
    /*}*/
    /*.sidebar.sidebar-default .sidebar-category {*/
        /*background-color: #fff;*/
    /*}*/
    /*.sidebar.sidebar-separate .sidebar-content {*/
        /*box-shadow: none;*/
    /*}*/
    /*.sidebar.sidebar-separate .sidebar-category {*/
        /*margin-bottom: 1.25rem;*/
        /*border-radius: 0.25rem;*/
        /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
    /*}*/


/*}*/
/*.image-cat-icon{*/
    /*height: 18px;*/
    /*width: 18px;*/
/*}*/
/*.sideber-brand-style{*/
    /*height: 230px;*/
    /*overflow-y: auto;*/
/*}*/
/*.btn-number {*/
    /*height: 35px;*/
/*}*/
/*.qty-inc-dc {*/
    /*text-align: center;*/
/*}*/