/*media query */

/* ----------------
 [1. Common styles]
  Next page technology
  Design By Mustafizur Rahaman
 */
@media only screen and (min-width: 1367px) {
        .container {
            width: 1270px;
        }

}
@media only screen and (min-width: 1200px) {


}
@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 768px) {

}

@media only screen and  (max-width: 600px) {


}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 320px) {

}


