
/* ----------------

 [1. Common styles]

  Next page technology

  Design By Mustafizur Rahaman

 */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x:hidden;
}
body.is-ontop{
    margin-top: 53px;
}
h1{
    font-size: 44px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
a{
    color: #fff;
}
a:hover{
    text-decoration:none!important;
}
.mtb-15{
    margin: 15px 0;
}
.plr-0 {
    padding: 0!important;
}
.mb-0{
    margin-bottom: 0!important;
}
.ptb-15{
    padding: 15px 0;
}
.border{
    border: 1px solid #ededed;
}
.title-color{
    color:#630767;
}
.navbar-brand{
    margin: 0;
    padding: 0;
}
.navbar-brand a {
    font-size: 16px;
    text-decoration: none;
    color: #ffff;
}
.navbar-top-right {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;}

.navbar-top-right li {
    float: left;
    margin-left: 20px;
}
.navbar-top-right li a:hover {
    color: red;
}
.navbar-top-left a{
    color: #fff;
    font-size: 16px;
}
.navbar-top-left a:hover{
    color: #fff;
}
.header-mini {
    background-color: #630767;
    padding: 8px 0;
    color: #fff;
    height: 40px;
}
.btn-login-style {
    font-size: 16px;
    color: #fff;
    padding: 0;
}
.logo-style {
    height: 50px;
}

.top-right-list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.top-right-list li {
    float: left;
    padding: 7px 15px;
}
.top-right-list li a{
    text-decoration: none;
}
.cart-header a img {
    height: 35px;
    width: 35px;
}
.collapse.in {
    display: block !important;
}
.navbar{
    border-radius: 0!important;
}
.navbar-inverse {
    background-color: #630767!important;
}
.sidbar-category {
    margin: 0;
    padding: 0;
    list-style: none;
     border: 1px solid #ededed;
    border-radius: 5px;
}
.sidbar-category li {
    padding: 10px;
        border-bottom: 1px solid #ededed;
}
.sidbar-category li a{
    color: #630767;
    font-size: 14px;
    text-decoration: none;
}
.sidbar-category li a img {
    height: 22px;
    width: 22px;
    margin-right: 8px;
}
/*navber*/
.nav-item:hover{
    background: #f716b6;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #f716b6;
}
.navbar-inverse {
    border: none!important;
}
.sidbar-category .category-text {
    background: #630767;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
      border-radius: 5px 5px 0px 0px;
}
/*slider section*/
.carousel-inner {
    border-radius: 5px;
}
.carousel-control {
    top: 47%!important;
}
.carousel-indicators {
    bottom: 0!important;
    display: none;
}
.carousel-control.left{
    background-image: none!important;
}
.carousel-control.right {
    background-image: none!important;
}
/*category list*/
.category-list {
    border: 1px solid #ededed;
    border-radius: 5px;
    text-align: center;
    height: 130px;
}
.category-list:hover{
        box-shadow: 0px 3px 14px 0px rgba(31, 51, 46, 0.1);
}
.category-list a img {
    margin: auto;
    padding: 10px;
    height: 100px;
}
.section-heading {
    color: #630767;
    text-transform: uppercase;
    font-size: 22px;
}

.category-list a:hover {
    text-decoration: none;
}

/*product grid*/
.product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.3s;
    height: 318px;
    border: 1px solid #ededed;
}
.product-grid:hover{ box-shadow: 0px 3px 14px 0px rgba(31, 51, 46, 0.1); }
.product-grid .product-image{
    position: relative;
    overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-new-label,
.product-grid .product-discount-label{
    color: #fff;
    background: #341f97;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1px 10px;
    transform: translateY(10px);
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s;
}
.product-grid .product-discount-label{
    background: #5f27cd;
    top: 25px;
}
.product-grid .product-image:hover .product-new-label,
.product-grid .product-image:hover .product-discount-label{
    opacity: 0;
    transform: translateY(0);
}
.product-grid .social{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    left: 10px;
}
.product-grid .social li{
    margin: 3px 0;
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.3s;
}
.product-grid:hover .social li:first-child{ transition-delay: 100ms; }
.product-grid:hover .social li:last-child{ transition-delay: 150ms; }
.product-grid .product-image:hover .social li{
    opacity: 1;
    transform: translateY(0);
}
.product-grid .social li a{
    color: #341f97;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    display: block;
    transition: all 0.3s ease-out;
}
.product-grid .social li a:hover{
    color: #fff;
    background: #5f27cd;
}
.product-grid .product-content{  padding: 10px 3px 0;    font-size: 12px; }
.product-grid .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 3px;
}
.product-grid .title a{
    color: #22222b;
    transition: all 0.3s ease;
}
.product-grid .title a:hover{ color: #5f27cd; }
.product-grid .price{
    color: #22222b;
    font-size: 18px;
    padding: 0 10px;
    margin: 5px 0;
}
.product-grid .price span{
    color: #878787;
    font-size: 15px;
    text-decoration: line-through;
    margin: 0 0 0 3px;
}
.product-grid .product-link{ border-top: 1px solid rgba(34, 34, 43, 0.102); }
.product-grid .product-link a{
    color: #7f7f82;
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    width: 49%;
    padding: 11px 0;
    display: inline-block;
    transition: all 0.3s ease 0s;
    height: 40px;
}
.product-grid .product-link a:nth-child(2){ border-left: 1px solid rgba(34, 34, 43, 0.102); }
.product-grid .product-link a:hover{ color: #630767; }

.owl-nav {
    position: absolute;
    top: -40px;
    right: 0;
}
.owl-nav button {
    background: #630767;
    padding: 1px 14px;
    border: none;
    margin-left: 5px;
    font-size: 21px;
    color: #fff;
}
.disabled {
    background: #b3acb3!important;
}
.owl-dots {
    display: none;
}
.brand-icon {
    border: 1px solid #ededed;
    border-radius: 5px;
    padding: 3px;
}
/*footer section*/
.footer-content {
    background: #efd3d3;
}
/*cart button*/
.bttn-cart {
    color: #fcb102;
    cursor: pointer;
    position: fixed;
    right: 0px;
    top: 45%;
    z-index: 9999;
    overflow: hidden;
    border: 0;
    border-right: 0;
    height: 65px;
    border-radius: 3px 0px 0px 3px;
    background: #630767;
    width: 65px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: .8;
}
.thumb img {
    background-size: cover;
    background-position: center;
    transition: all 0.7s ease;
}
.thumb img:hover {
    transform: scale(1.5);
}
#ShowDivButton img {
    height: 22px;
    text-align: center;
}
.bttn-cart p {
    color: #FEF7F8;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.3px;
    background: transparent;
    margin-bottom: 0;
}
#aitcg-control-panel {
    display: block;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: auto;
    right: 0 !important;
    top: 0px;
    background-color: #fff;
    border-radius: 0;
    margin-left: 0;
    width: 294px;
    -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.55);
    box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.55);
}
#aitcg-control-panel h1 {
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: #fff;
    background: #630767;
    padding: 11px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 0;
    height: 47px;
}
.bttn-close {
    position: absolute;
    right: 4px;
    margin: 6px 3px;
    padding: 3px 9px;
    background: #fcf7f7;
    color: #b71016;
    text-transform: uppercase;
    font-size: 13px;
    /* font-weight: 900; */
    letter-spacing: 1px;
    border-radius: 50px;
    border: none;
}
.add-pro-liner {
    height: 65px;
}
.add-pro-liner img {
    max-width: 100%;
    width: auto;
    margin: 0px 5px;
    height: 64px;
    border: 1px solid #ededed;
    float: left;
}
.add-pro-liner .counting {
    background: #ededed;
    padding: 4px;
    display: block;
    float: left;
}
.pro-head h3{
    font-size: 14px;
}
.add-pro-liner .pro-head h3 {
    font-size: 13px;
    width: 168px;
    float: left;
    color: #303031;
    padding-bottom: 6px;
    margin: 0;
}
#aitcg-control-panel h4 {
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    background: #E9AF0C;
    padding: 10px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-top: -7px;
    margin-bottom: 0;
}
.add-pro-liner .counting {
    background: #ededed;
    padding: 4px;
    display: block;
    float: left;
}
.add-product-area {
    padding-top: 5px;
    margin-bottom: 40px;
}
.itemqty {
    border: 1px solid #ededed;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 6px;
    font-size: 16px;
}
hr {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    border-top: 1px solid #fff5ff!important;
}
.pro-close i {
    color: #630767;
    border-radius: 0 1px 0px 16px;
    padding: 4px;
    font-size: 20px;
}
.ammount{
    font-size: 16px;
}
.sub_total {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #630767;
}
.btn-add-place{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 50%;
}
.image-emty img {
    margin: auto;
    display: block;
    height: 200px;
    background: #ededed;
    width: 200px;
    padding: 40px;
    border-radius: 50%;
}
.image-emty {
    margin: 30px 30px;
}
ol.breadcrumb.mt-2 {
    margin: 0;
    padding: 0;
}
.breadcrumb {
    background-color: #f4e3f5!important;
    color: #630767;
}

.update-qty {
    padding: 0px!important;
    cursor: pointer;
}

.update-qty input {
    padding: 0!important;
    height: 27px;
    width: 40px;
    text-align: center;
    font-size: 17px;
    border: 0;
}
.fa-minus-circle{
    font-size: 18px!important;
    margin-top: 10px;
}
.fa-plus-circle{
    font-size: 18px!important;
    margin-top: 10px;
}
.banner-single {
    text-align: center;
}
.banner-single .fa{
    font-size: 45px;
    padding: 0;
    margin: 4px 0 0;
}
.contact-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contact-list li{
    margin: 5px;
    color: #630767;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu ul li {
    text-decoration: none;
    border-top: 1px solid #ededed;
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.footer-menu ul li a {
   color:#630767;
    padding: 5px 0;
}
.footer-menu ul li a:hover {
    color:red;
    padding: 5px 0;
}
#newsletterFormSubmit {
    height: 34px;
}
.socials .list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.socials .list li{
    float: left;
}
.socials .list li {
    float: left;
    border: 1px solid #ededed;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
}
.socials .list li:hover {
    border: 1px solid #630767;
    color:  #630767;
}
.card-header {
    border: 1px solid #ededed;
    border-radius: 5px 5px 0 0;
    text-align: center;
    text-transform: uppercase;
    background: #f4e3f5;
}
.common_selector{
    display: none;
}
.check-box-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.check-box-list li {
    border-bottom: 1px solid #fbf5f5;
    font-size: 14px;
    padding: 0 5px;
}
.check-box-list li label {
    font-weight: 100;
    padding-top: 5px;
}
.layered-content {
    border: 1px solid #f9f1f1;
}
.pagination {
    margin: 0!important;
    float: right;
}
.pagination .active span{
    background: #630767!important;
    border: 1px solid #630767!important;
}
.short-list-style {
    background: #f4e3f5;
    padding: 5px;
    border-radius: 5px;
}
.banner-single .panel{
    border-color: #efd3d3;
    background: #efd3d3;
}
.banner-single .panel h3{
    color: #630767!important;
}
.details-cat{
    padding: 5px;
}
.check-box-list li {
    border-bottom: 1px solid #fbf5f5;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.product-star {
    font-size: 20px;
    margin-bottom: 10px;
}
.product-star i {
    margin-right: 8px;
    color: #630767;
}
.price.product-price {
    font-size: 20px;
    margin-bottom: 19px;
}
.product-price-group {
    margin-bottom: 10px;
}
.sinolo {
    width: 150px;
}
.sinolo input{
    text-align: center;
}
.add-product-area.header_cart_html {
    /*height: 90%;*/
    overflow: auto;
}
.details-cartbtn {
    width: 150px;
    font-size: 19px!important;
}
.product_description{
    margin-top: 30px;
}
.review-view{
    float: left;
    margin-right: 15px;
}
.cart-qty{
	width: 130px;
}
.heading-counter.warning {
    background: #630767;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
/*login model*/
.model-body-padding{
    padding:0;
}
.model-body-padding {
    position: relative;
    padding: 0px 0px 0px 30px!important;
}
.login-cross-btn {
    position: absolute;
    right: 22px;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #fff;
    top: 5px;
    font-size: 15px;
    padding: 0px;
}
.log-right-padding{
    text-align: center;
}
.logologo {
    position: absolute;
    top: 20px;
    left: 45px;
}
.right-banner{
    width: 100%;
    height: 610px;

}
.col-md-6.border-right-log.padding-model {
    padding: 50px;
}
.card_image{
    height: 55px;
    text-align: center;
    margin: auto;
    display: block;
}
.cart_table tbody tr td {
    vertical-align: middle!important;
}
#pills-tabContent {
    margin-top: 50px;
    border: 1px solid #ced4da;
}
.shippingaddress{
    padding: 30px;
}
.notes-summary-area{
    padding: 15px;
}
.payment-area{
    padding: 15px;
}